extends layout

block content
  h1= title
  p Welcome to #[em Patient Intake Form], an exercise completed by Jeremy Uriz in the year 2020.


  h1 Patient Intake Totals

  if error
    p Error getting dynamic content.
  else

    p The library has the following record counts:

    ul
      li #[strong Patients:] !{data.patient_count}
      li #[strong Insurance Companies:] !{data.book_instance_count}
      li #[strong Employers:] !{data.book_instance_available_count}