<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Patient Intake Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body style="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    <li> <a href="/catalog">Home</a></li>
                    <li> <a href="/catalog/patients">All Patients</a></li>
                    <li> <a href="/catalog/insurance">All Insurance Companies</a></li>
                    <li> <a href="/catalog/employers">All Employers</a></li>
                    <li>
                        <hr>
                    </li>
                    <li> <a href="/catalog/patient/create">Create new Patient</a></li>
                    <li> <a href="/catalog/insurance/create">Create new Insurance</a></li>
                    <li> <a href="/catalog/employer/create">Create new Employer</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <h1>Patient Intake Welcome Screen</h1>
                <p>Welcome to <em>Patient Intake</em>, a sample project created by Jeremy Uriz (with much assistance from the MDN network).</p>
                <h1>Dynamic content</h1>
                <p>The library has the following record counts:</p>
                <ul>
                    <li><strong>Patients:</strong></li>
                    <li><strong>Insurance Companies:</strong></li>
                    <li><strong>Employers:</strong> </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>