extends layout

block content


  h1 Patient Intake Totals

  if error
    p Error getting dynamic content.
  else

    ul
      li #[strong Patients:] !{data.patient_count}
      li #[strong Insurance Companies:] !{data.insurance_count}
      li #[strong Employers:] !{data.employer_count}