body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none,
}

ul li {
    list-style: none;
    font-size: medium;
    padding: 2px 0 2px 0;
}

footer .container {
    padding-top: 60px;
}

.jumbotron {
    border-radius: 5px;
}