body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none,
}

ul li {
    list-style: none;
    font-size: medium;
    padding: 2px 0 2px 0;
}

footer .container {
    padding-top: 60px;
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    border-radius: 5px;
    color: white;
    min-height: 500px;
}

.nav-link {
    color: white;
}

#pageheadertext {
    color: #0275d8;
    padding-bottom: 3rem;
}